.header{
    /*todo*/
    position: absolute;
    transform: translate(50%, -150%);
}

.board-container{
    height: 100%;
    width: 100%;
}

.boxes{
    float: left;
    width: calc(100% / 3);
    height: calc(100% / 3);
    font-size: 9em;
    text-align: center;
    line-height: .7;
    color: red;
}

.board-container span{
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: #fff;
}

.board-container span:nth-last-of-type(1){
    left: calc(33.3% - 3px);
}
.board-container span:nth-last-of-type(2){
    left: calc(66.6% - 3px);
}
.board-container span:nth-last-of-type(3){
    transform: rotate(90deg);
    transform-origin: 0 0;
    top: calc(33.3% - 3px);
}
.board-container span:nth-last-of-type(4){
    transform: rotate(90deg);
    transform-origin: 0 0;
    top: calc(66.6% - 3px);
}

.winner{
    position: relative;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    animation: dialog .4s ease-in forwards;
}

.winner .text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5em;
    color: red;
    padding: 10px;
    border-radius: 10px;
}

.dialog-button{
    position: relative;
    top: -60px;
    color: black;
    float: left;
    background: none;
    border: none;
    width: 50%;
    font-size: 2em;
    transition-duration: .2s;
}

.dialog-button:hover{
    transform: scale(1.5, 1.5);
}

@keyframes dialog {
    0%{transform: scale(0, 0); opacity: 0}
    50%{transform: scale(1.3, 1.3); opacity: 1}
    100%{transform: scale(1,1);}
}
