.header{
    position: absolute;
    transform: translate(0, -110%);
}

.board-container{
    height: 100%;
    width: 100%;
}

.boxes{
    float: left;
    width: calc(100% / 3);
    height: calc(100% / 3);
    font-size: 7em;
    text-align: center;
    color: white;
    line-height: 1.1;
    border: 2px solid #162924;
    border-radius: 10px;
    background-color: lightgrey;
    transition-duration: .3s;
}

.boxes:hover{
    opacity: .3;
}

.turn{
    opacity: 1!important;
    transform: rotateY(180deg);
}

.x{
    background-color:#D43654;
}

.o{
    background-color: #369AD4;
}

.lightup{
    animation: lightup 1.2s linear alternate infinite;
}

@keyframes lightup {
    100% {transform: rotateY(360deg)}
}

.footer{
    position: relative;
    top: 80px;
}

.dialog-button{
    position: relative;
    top: -60px;
    color: #fff;
    float: left;
    background: none;
    border: none;
    width: 50%;
    font-size: 2em;
    transition-duration: .2s;
}

.dialog-button:focus{
    outline: none;
}

.dialog-button:hover{
    transform: scale(1.5, 1.5);
}
